{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "index2.css" %}'>
    <title>Document</title>
    
</head>
<body>
    <tbody>
        <h1>Proveedor</h1>
        <div class="row">
            <table class="table">
                <thead>}
                    <tr class="titu">
                        <th class="t1" scope="col">Nombre</th>
                    </tr>
                </thead>
            {%for i in datoscli %}
            <tbody>
                <tr class="text1">
                    <td>{{ i.nombre_proveedor }}</td>
                </tr>
            </tbody>
            {%endfor%}
            </table>

        </div>

    </tbody>
    
</body>
</html>